.list-links {
    position: absolute;
    left: 25%;
}

.link {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    background-color: pink;
}
.text-input {
    width: 300px;
    height: 100px;
}

.active {
    background-color: salmon;
    color: white;

}

.toDo {
    position: absolute;
    top: 150px;
    width: 300px;
    height: 200px;
    background-color: #F0E7D8;

}

.task {
    display: inline;
}
